<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Tushare Stock" />
	<meta name="keywords" content="Tushare Stock" />
	<meta name="author" content="HuoHongJian" />
	<!-- meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<meta http-equiv="Access-Control-Allow-Origin" content="*" -->  
	<title>{% block inTitle %}stock{% endblock %}</title>
 	<link rel="stylesheet" href="//at.alicdn.com/t/font_418836_42k8vtq2myflmcxr.css" />
	<link rel="stylesheet" href="/own/R.css?v=1.0.0" />
	<link rel="stylesheet" href="/css/nblog.css?v=1.0.0" />
	<link rel="stylesheet" href="/css/docbook.css" />
	{% block toHead %}{% endblock %}
</head>
<body>
{% block inBody %}


{% block Header %}
<header class="a flex">
{% block inHeader %}{% endblock %}
</header>
{% endblock %}



{% block Nav %}
<nav class="a decoration-none b-p-0 c-p-10 d-p-30 e-p-50 f-p-80 g-p-120">
{% block inNav %}{% endblock %}
</nav>
{% endblock %}



{% block Main %}
<main class="a flex a-m-0 d-m-50 e-m-80 f-m-120 g-m-180">
{% block inMain %}{% endblock %}
</main>
{% endblock %}



{% block Footer %}
<footer class="a">
{% block inFooter %}{% endblock %}
</footer>
{% endblock %}



{% endblock %}

<script type="text/javascript" src="/own/R.js?v=1.0.0"></script>
<script type="text/javascript" src="/own/Panel.js?v=1.0.0"></script>
<script type="text/javascript" src="/js/nblog.js?v=1.0.0"></script>
{% block toBody %}{% endblock %}

</body>
</html>
